/*
COLOR PALETTE

BLACK: #000000
WHITE: #FFFFFF
LIGHT: #FDF7F4
ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #fdf7f4;
  color: #000;
}

header {
  text-align: center;
  padding: 1rem 0;
}

nav {
  background-color: #ffd18c;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

nav li {
  margin: 0 1rem;
  font-weight: 500;
}

nav .active {
  font-weight: bold;
}

/* TODO: Style the .actions section with flexbox, spacing, and margin */
.actions {
  display: flex;
  justify-content: center; 
  gap: 2rem;
  margin: 2rem 0;
}

/* TODO: Style the action buttons with border, round shape, and bold text 
We need border, round shape, and bold text
*/
.actions button {
  padding: 0.75rem 2rem;
  border: 3px solid #ffa724;
  border-radius: 999px;
  background: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.accounts {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

.accounts h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* 
TODO: Style the account cards with padding, border, and flex layout 

We need 3px border

For the padding, we want it to be 1rem

For the display, We need there to be space between
*/
.account {
  border-radius: 12px;
  margin-bottom: 1rem;
  font-weight: bold;
  background: white;
}

/* TODO: Make the main account stand out with a unique background -  #ffd18c */
.account.main {

}

/* TODO: Add responsive tweaks for smaller screens if desired */

